h1 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

p {
    font-family: 'Noto Sans Khmer', sans-serif;
    font-size: 20px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(54, 72, 116);
    background-image: 
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 90px 90px, 140px 140px;
    min-height: 100vh;
}